:root {
  --header: #080b12;
  --main: #141922;
  --footer: #282828;
  --selected: #adff2f;
  --gray-words: #6d6d6d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  font-family: "Alkatra", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;

  color: white;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}

/* FLEX */
.flex {
  display: flex;
}
.align-items {
  align-items: center;
}

/* CONTAINER-ROW-COL */

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}

.row {
  margin: 0 -1rem;
}

.col {
  padding: 1rem;
}

/* ######## MAIN ########  */
#main {
  height: calc(100vh - 150px);
  background: var(--main);
}

/* ######## SIDEBAR ######## */
#sidebar {
  height: 100%;
  width: 250px;
  background: black;
}

/* ######## MAIN CONTENT ######## */
#main-content {
  width: calc(100% - 250px);
}

/* HEADER */
header {
  height: 120px;
  width: calc(100% - 250px);

  position: fixed;
  top: 0;
  right: 0;

  z-index: 1;

  background: var(--header);
}

/* ######## FOOTER ######## */
#footer {
  height: 150px;
  background: var(--footer);
}

#footer img {
  height: 80px;
  width: 80px;
}

#footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 150px;
}

#footer .footer-left,
#footer .footer-center,
#footer .footer-right,
#footer .footer-center-top > ul {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#footer .footer-left,
#footer .footer-right {
  flex-basis: 15%;
}

#footer .footer-left {
  gap: 0 1rem;
}

#footer .footer-right {
  justify-content: flex-end;
  gap: 0 1rem;
}

#footer .footer-center {
  flex-direction: column;
  flex-basis: 60%;
}

.footer-center-top a {
  color: white;
  font-size: 1.5rem;
  padding: 0 25px;
}

.footer-center-bottom {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 1rem 0;
  gap: 0 30px;
}

.progress-bar {
  height: 5px;
  width: 100%;

  background: gray;
}

.inside-progress-bar {
  height: 5px;
  width: 40%;

  background: lightgray;
}

#footer .f-play {
  font-size: 2.75rem;
}
