:root {
  --header: #080b12;
  --main: #141922;
  --footer: #282828;
  --selected: #adff2f;
  --gray-words: #6d6d6d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */
body {
  font-family: "Alkatra", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;

  color: white;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-words);
}

/* FLEX */
.flex {
  display: flex;
}
.align-items {
  align-items: center;
}

/* CONTAINER-ROW-COL */

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}

.row {
  margin: 0 -1rem;
}

.col {
  padding: 1rem;
}

/* ######## MAIN ########  */
#main {
  height: calc(100vh - 100px);
  background: var(--main);
}

/* ######## SIDEBAR ######## */
#sidebar {
  height: 100%;
  width: 250px;
  background: black;

  display: flex;
  flex-direction: column;
  gap: 2%;

  font-size: 1rem;
  padding: 0 1.5rem;
}

#sidebar li img {
  width: 30px;
}

.logo {
  width: 80%;
  padding: 1.5rem 0;
}

.create-playlist {
  overflow-y: auto;
}

.create-playlist * {
  padding: 0.5rem 0;
}

/* ######## MAIN CONTENT ######## */
#main-content {
  width: calc(100% - 250px);
  padding-top: 140px;
}

/* HEADER */
header {
  height: 120px;
  width: calc(100% - 250px);

  position: fixed;
  top: 0;
  right: 0;

  z-index: 1;

  background: var(--header);
}

.upgrade {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.upgrade input {
  background: transparent;
  color: white;

  font-size: 0.75rem;

  padding: 15px 40px;
  margin: 0 10px;

  border: 3px solid white;
  border-radius: 30px;
}

/* CATEGORIES */

.categories ul {
  font-size: 0.75rem;
  font-weight: bolder;

  justify-content: center;
  gap: 2%;
}

/* RECENTLY PLAYED SECTION */

/* ######## FOOTER ######## */
#footer {
  height: 100px;
  background: var(--footer);
}

#footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

#footer .footer-left,
#footer .footer-center,
#footer .footer-right,
#footer .footer-center-top > ul {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#footer .footer-left,
#footer .footer-right {
  flex-basis: 20%;
}

#footer .footer-left {
  gap: 0 1rem;
}

.footer-left img {
  height: 60px;
  width: 60px;
}
#footer .footer-right {
  justify-content: flex-end;
  gap: 0 1rem;
}

#footer .footer-center {
  flex-direction: column;
  flex-basis: 50%;
}

.footer-center-top a {
  color: white;
  font-size: 1rem;
  padding: 0 20px;
}

.footer-center-top {
  padding-top: 20px;
}

#footer .f-play {
  font-size: 2rem;
}

.footer-center-bottom {
  display: flex;
  align-items: center;

  width: 100%;

  font-size: 0.75rem;
  font-weight: bold;

  padding: 0.75rem 0;
  gap: 0 30px;
}

.progress-bar {
  height: 5px;
  width: 100%;

  background: gray;
}

.inside-progress-bar {
  height: 5px;
  width: 40%;

  background: lightgray;
}
